.aboutme {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: auto;
    gap: 24px;
    margin-top: 48px;
    background: rgba(3, 3, 20, 0.484);
    padding: 18px 18px;
    border-radius: 14px;
}

.profpic {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 100px;
}

.desc {
    color: white;
    font-size: 20px;
}

.div-title {
    font-size: 42px;
    margin-top: 48px;
    color: white;
    text-align: center;
    font-weight: 600;
}

.technologies {
    margin: 64px 0;
}

.tech-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 36px;
    width: 50%;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 24px;
    background: rgba(255, 255, 255, 0.613);
    padding: 18px 12px;
    border-radius: 14px;
}

.projects {
    background-color: #36707f67;
    background-image: linear-gradient(192deg, #36707f96 0%, #1d285e 100%);
    padding: 14px 24px;
}

.project-preview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 36px 72px;
    gap: 36px;
}

.line-break {
    height: 1px;
    background-color: white;
    width: 50%;
    margin: 6px 0;
}

.proj {
    display: flex;
    gap: 32px;
}

.proj-img>img {
    width: 500px;
    border-radius: 4px;
    object-fit: cover;
}

.proj-title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 4px;
}

.proj-subtitle {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 4px;
}

.tech-used {
    font-size: 16px;
    font-style: italic;
}

.right {
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.proj-desc {
    font-weight: 300;
    font-size: 14px;
    margin-top: 18px;
}

.buttons {
    display: flex;
    gap: 24px;
    margin-top: 36px;
}

.button {
    border: 1px solid white;
    border-radius: 14px;
    width: fit-content;
    padding: 4px 8px;
    text-decoration: none;
}

a:hover {
    transition-duration: 200ms;
    color: rgb(106, 152, 244);
}

.button:hover {
    transition-duration: 200ms;
    border: 1px solid rgb(106, 152, 244);
}


.footer {
    background: #162052;
}

.contact {
    text-align: center;
    font-weight: 600;
    font-size: 42px;
    padding: 36px 0;
}

.contact-icons {
    display: flex;
    justify-content: center;
    gap: 64px;
    padding-bottom: 64px;
}
.fa-brands, .fa-solid {
    font-size: 72px;
}
